header, footer{
	background-color: lightyellow;
	color:black;
	height: 100px;
	text-align:center;
	padding: 30px 10px 20px 10px;
}

nav a:visited{
	color: purple;
}
nav a:hover{
	font-weight: bold;
}
nav a:active{
	text-decoration: none;
}